POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_local_password
POSTGRES_DB=github_analytics
POSTGRES_PORT=5432

GITHUB_TOKEN=your_github_token
GITHUB_OWNER=dbt-labs
GITHUB_REPO=dbt-core

AWS_PROFILE=github-de
AWS_REGION=eu-central-1
S3_BUCKET=your-project-bucket